* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(100, 100, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form select,
form input,
form button {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.75rem;
}

form input {
    border: 2px solid lightgrey;
    padding-left: 5px;
    font-size: 1rem;
    height: 2rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container {
    display: flex;
    border: 2px solid lightgrey;
    border-radius: 0.75rem;
    height: 2rem;
    padding-left: 5px;
}

.msg {
    margin-top: 2rem;
    font-size: 1.5rem;
}

button {
    margin-top: 2rem;
    font-size: 1rem;
    background: purple;
    color: white;
    height: 3rem;
    cursor: pointer;
}